@use '../_variables'
@use '../_utilities'

.container-login 
    min-height: 100vh
    @include utilities.center-elements($justify: space-between, $direction: column)

    @include utilities.responsive(400px)
        #footer 
            margin-top: 20px

.login-page
    @include utilities.center-elements($justify: space-between, $direction: column)

    &-title 
        margin: 50px  0

        @include utilities.responsive(400px)
            margin: 20px 0

    .form-login
        @include utilities.form-style()
        
        &:first-of-type
            margin-top: 40px

        input 
            @include utilities.input-style
