@use '../_variables'
@use '../_utilities'

#footer 
    margin-top: 100px
    background-repeat: no-repeat
    background-size: cover

    .footer-top
        height: 300px
        @include utilities.center-elements($justify: center) 

        &-content 
            margin-top: 120px

            .footer-title 
                margin-bottom: 30px
                text-align: center

            &-links 
                ul
                    @include utilities.center-elements($justify: center) 
                    gap: 20px

                    a 
                        font-size: variables.$icon-size * 1.3
                        color: variables.$secondary-icon-color
                        
    .footer-middle, .footer-bottom
        background-color: variables.$secondary-color

    .footer-middle, .short-footer
        margin-bottom: 5px

        &-links 
            padding: 20px 0
            
            ul
                @include utilities.center-elements($justify: center) 
                gap: 20px

                        
                @include utilities.responsive(350px)
                    display: block
                    text-align: center

                    li 
                        margin: 10px

    .footer-bottom, .short-footer-copyright
        p 
            padding: 20px

    .short-footer 
        @include utilities.center-elements($align: center) 
        padding: 0 120px
        height: 136px
        position: relative
        margin: 0

        &-links 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            
        @include utilities.responsive(950px)
            @include utilities.center-elements($justify: center, $direction: column) 

            &-links 
                padding: 0
                position: inherit
                transform: none
                top: 0
                left: 0

        @include utilities.responsive(580px)
            padding: 0 10px
