@use '../_variables'

.reasons-container 
    background-color: variables.$bg-dark-color
    width: 70%
    max-width: 650px
    margin: 50px auto
    border-radius: 36px
    padding: 40px
    text-align: center
    height: 330px

    .block-title 
        margin-bottom: 30px

    .description 
        height: 150px
        padding: 20px 40px