@use './_variables'

$main-title-size: 3.6rem 
$title-size: 2.8rem
$text-size: 1.6rem
$block-title-size: 2.4rem
$navbar-text-size: 1.8rem 

button 
    text-size: $text-size

.section-title
    text-align: center
    font-size: $title-size
    color: variables.$title-color

.block-title    
    font-size: $block-title-size
    color: variables.$text-color
    text-align: center

.footer-title 
    font-size: $block-title-size
    color: variables.$title-secondary-color

.text 
    color: variables.$text-color
    font-size: $text-size
    line-height: 140%
    text-align: center

.link 
    font-size: $navbar-text-size
    color: variables.$text-color